.Content 
{
background-color: white;
background-attachment: fixed;
background-repeat:repeat,no-repeat;
background-image: url("img/bg_white_transparent.png"), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(0, 124, 192, 0.2) 100%);
/*background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);*/
 /*top: 29px;
  bottom: 20px;
  right: 20%;
  left: 15%;
  background-attachment: fixed;
  background-color: #FFFFFF;
  background-image: url("/resources/sap/ui/core/themes/sap_bluecrystal/img/bg_white_transparent.png"), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(0, 124, 192, 0.2) 100%);
  background-attachment: fixed;
  background-repeat:repeat,no-repeat;
  width: 65%;
*/

  }